@font-face {
    font-family: 'Futura';
    src: url('Futura-Medium.woff2') format('woff2'),
        url('Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

p {
    position: fixed;
    font-size: 1.1em;
    top: 48%;
    max-width: 90%;
    

}
body {
    font-family: "Futura";
    display: flex;
    overflow: hidden;
  }
  

  .myVideo {
    position: fixed;
    z-index: -2;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  a {
  text-decoration: none;
  color: white;
  }

  .logo {

    display: grid;
    place-items: center;
    min-width: 100%
  }

img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    color: #fff;
    max-width: 25rem;
    max-height: 25rem;

  }

  @media only screen and (max-width: 800px) {
    img {
  width: 300px;
    }
  
  .cursor {
    width: 54px;
    height: 54px;
    mix-blend-mode: difference;
    background: #fff;
    position: absolute;
    border-radius: 50%;
  }
  
  .test {
    background: black;
    width: 50%;
    height: 100vh;
  }
  
  .test:nth-of-type(2) {
    background: #000;
  }

  section {
      background: white;
  }